fastapi
uvicorn
streamlit
pandas
numpy
scikit-learn
xgboost
joblib
matplotlib
plotly
seaborn
requests
tensorflow
keras
kafka-python
langchain
chromadb
sentence-transformers
pypdf
python-dotenv
openai
PyPDF2